	<!--头部-->
	<div class="header-bg"></div>
	<div class="header-content">
		<div class="header-logo"></div>
		<div class="header-menu-wrap">
			<ul class="header-menu-item header-menu-show" data-view-header-menu data-header="app_ctrl.login.headeritem"></ul>
			<ul class="header-menu-item header-menu-dropdown" data-view-header-menu data-header="app_ctrl.login.headersubitem"></ul>
			<div></div>
		</div>

		<view-header-logout data-time="app_ctrl.app_config.loginouttime" data-action="app_ctrl.loginOut()" class="header-outwrap"></view-header-logout>
	</div>
