	<!--头部-->
	<div class="header-bg"></div>
	<div class="header-content">
		<div class="header-logo"></div>
		<div class="header-menu-wrap">
			<ul class="header-menu-item header-menu-show" data-view-header-menu data-header="app_ctrl.menu.headeritem"></ul>
			<ul class="header-menu-item header-menu-dropdown menu-drop g-w-number8" data-view-header-menu data-header="app_ctrl.menu.headersubitem" ng-class="{'g-d-hide':!app_ctrl.menu.isshow,'g-d-hidei':!app_ctrl.menu.active}"></ul>
			<view-header-dropbtn ng-class="{'menu-dropbtn-active':app_ctrl.menu.active,'g-d-hidei':!app_ctrl.menu.isshow}" data-active="app_ctrl.menu.active"></view-header-dropbtn>
			<ul class="header-menu-item header-menu-dropdown message-drop g-w-number8" ng-class="{'g-d-hide':!app_ctrl.message.isshow,'g-d-hidei':!app_ctrl.message.active}">
				<li>
					<ul class="header-menu-item header-menu-dropdown" data-view-header-message data-action="app_ctrl.showMessage()" data-message="app_ctrl.message.login" ></ul>
				</li>
			</ul>
		</div>

		<view-header-logout data-time="app_ctrl.app_config.loginouttime" data-action="app_ctrl.loginOut()"></view-header-logout>
	</div>
