
/*底部*/
.footer-wrap{
	background-color:@footer-bg;
	.layout-base;
	min-height:40px;
}
.footer-content-wrap{
	width:@global-screen-width;
	margin:0 auto;
	min-height:40px;
	color:@color-gray10;
	font-size:@font-size-base - 2;
	p{
		width:49%;
		height:40px;
		line-height:40px;
	}
}
