
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-add:before { content: "\e600"; }
.icon-answer:before { content: "\e601"; }
.icon-app:before { content: "\e602"; }
.icon-browser:before { content: "\e603"; }
.icon-caller:before { content: "\e604"; }
.icon-camera:before { content: "\e605"; }
.icon-card:before { content: "\e606"; }
.icon-cart:before { content: "\e607"; }
.icon-check:before { content: "\e608"; }
.icon-code:before { content: "\e609"; }
.icon-computer:before { content: "\e60a"; }
.icon-copy:before { content: "\e60b"; }
.icon-delete:before { content: "\e60c"; }
.icon-delete2:before { content: "\e60d"; }
.icon-deliver:before { content: "\e60e"; }
.icon-display:before { content: "\e60f"; }
.icon-down:before { content: "\e610"; }
.icon-download:before { content: "\e611"; }
.icon-edit:before { content: "\e612"; }
.icon-emoji:before { content: "\e613"; }
.icon-enclosure:before { content: "\e614"; }
.icon-eraser:before { content: "\e615"; }
.icon-favor:before { content: "\e616"; }
.icon-file:before { content: "\e617"; }
.icon-file2:before { content: "\e618"; }
.icon-fill:before { content: "\e619"; }
.icon-fold:before { content: "\e61a"; }
.icon-folderadd:before { content: "\e61b"; }
.icon-folder:before { content: "\e61c"; }
.icon-font:before { content: "\e61d"; }
.icon-friends:before { content: "\e61e"; }
.icon-goods:before { content: "\e61f"; }
.icon-hangup:before { content: "\e620"; }
.icon-hide:before { content: "\e621"; }
.icon-history:before { content: "\e622"; }
.icon-home:before { content: "\e623"; }
.icon-information:before { content: "\e624"; }
.icon-left:before { content: "\e625"; }
.icon-like:before { content: "\e626"; }
.icon-link:before { content: "\e627"; }
.icon-loading:before { content: "\e628"; }
.icon-location:before { content: "\e629"; }
.icon-lock:before { content: "\e62a"; }
.icon-mail:before { content: "\e62b"; }
.icon-mark:before { content: "\e62c"; }
.icon-menu:before { content: "\e62d"; }
.icon-message:before { content: "\e62e"; }
.icon-minus:before { content: "\e62f"; }
.icon-more:before { content: "\e630"; }
.icon-music:before { content: "\e631"; }
.icon-my:before { content: "\e632"; }
.icon-notificationforbid:before { content: "\e633"; }
.icon-notification:before { content: "\e634"; }
.icon-order:before { content: "\e635"; }
.icon-pause:before { content: "\e636"; }
.icon-people:before { content: "\e637"; }
.icon-phone:before { content: "\e638"; }
.icon-pic:before { content: "\e639"; }
.icon-play:before { content: "\e63a"; }
.icon-question:before { content: "\e63b"; }
.icon-record:before { content: "\e63c"; }
.icon-refresh:before { content: "\e63d"; }
.icon-rest:before { content: "\e63e"; }
.icon-right:before { content: "\e63f"; }
.icon-ringpause:before { content: "\e640"; }
.icon-ring:before { content: "\e641"; }
.icon-rotate:before { content: "\e642"; }
.icon-roundcheck:before { content: "\e643"; }
.icon-roundclose:before { content: "\e644"; }
.icon-search:before { content: "\e645"; }
.icon-service:before { content: "\e646"; }
.icon-share:before { content: "\e647"; }
.icon-shopping:before { content: "\e648"; }
.icon-sitting:before { content: "\e649"; }
.icon-tag:before { content: "\e64a"; }
.icon-telephone:before { content: "\e64b"; }
.icon-todown:before { content: "\e64c"; }
.icon-toleft:before { content: "\e64d"; }
.icon-toright:before { content: "\e64e"; }
.icon-totop:before { content: "\e64f"; }
.icon-top:before { content: "\e650"; }
.icon-unfold:before { content: "\e651"; }
.icon-unlock:before { content: "\e652"; }
.icon-upload:before { content: "\e653"; }
.icon-video:before { content: "\e654"; }
