body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1619px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:9px;
  top:150px;
  width:1610px;
  height:580px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1610px;
  height:580px;
}
#u1 {
  position:absolute;
  left:2px;
  top:282px;
  width:1606px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1240px;
  top:206px;
  width:100px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
