@import '../layout/bootstrap/variables.less';
@import '../layout/variable/base_variable_support.less';

.credit-chart-wrap{
	.layout-base;
	border:1px solid @color-gray14;
	.border-radius-base(3px);
	height:350px;
	padding:20px;
}

.chart-search-wrap{
	.layout-base(300px,border-box);
	display:inline-block;
	height:auto;
	text-align:right;
	input{
		display:inline-block !important;
		width:240px;
		background:@color-white !important;
		cursor:default !important;
		vertical-align:top !important;
	}
	button{
		display:inline-block !important;
		width:50px;
		vertical-align:top !important;
	}
}






@media screen and (max-width: @screen-sm){
				.credit-chart-wrap{
					height:200px;
					padding:5px;
				}
			
}