///首页
///作者：易品

html{
	font-size:@font-size-base - 4;
	height:100%;
	width:100%;
}

body{
	background:@color-white;
	font-size:1.6rem;
}

.layout-wrap{
	width:100%;
	height:100%;
	.box-sizing-base;
	.display-base(flex);
	.flex-flow-base(column wrap);
}
.layout-item{
	width:100%;
	.flex-base;
}

.layout-header{
	background:@color-gray10;
	height:40px;
	.flex-base(0 0 1);
	.order-base(1);
}
.layout-main{
	background:@color-gray12;
	.text-ww;
	.flex-base(1 1 0);
	.align-self-base(stretch);
	min-height:100%;
	.order-base(2);
}
.layout-footer{
	background:@color-gray14;
	height:60px;
	.flex-base(0 0 1);
	.align-self-base(stretch);
	.order-base(3);
}





















