///首页
///作者：易品

html{
	font-size:@font-size-base - 4;
	height:100%;
	width:100%;
}

body{
	background:@color-white;
	font-size:1.6rem;
}

.test-wrap{
	width:100%;
	height:100%;
	.box-sizing-base;
	padding:200px 0 100px 0;
	div{
		width:200px;
		margin:0 auto;
		height:50px;
		background:@color-yellow1;
		.border-radius-base(3px);
		cursor:pointer;
		&:hover{
			background:@color-gray8;
		}
	}
}





















