	<div class="struct-layout-container" ng-controller="IndexController as index_ctrl">
		<!--主体-->
		<div class="struct-layout-main" >
			<!--欢迎广告-->
			<view-welcome-banner></view-welcome-banner>

			<!--快捷方式-->
			<view-quick-link data-action="index_ctrl.getQuickItem()"></view-quick-link>

			<!--弹窗-->
			<!--<view-modal-wrap data-setting="app_ctrl.modal1.setting"></view-modal-wrap>-->
		</div>

		<!--侧边栏-->
		<div class="struct-layout-side">
			<!--logo组件--(指令)-->
			<view-side-logo></view-side-logo>

			<!--信息组件-->
			<ul data-view-side-info class="sub-info-wrap" data-menuitem="index_ctrl.menuitem"></ul>
		</div>
	</div>