<!--首页弹窗测试目标-->
<table class="table table-bordered table-striped table-hover admin-layout-table">

    <!--分组样式-->
    <colgroup>
        <col class="g-w-percent2">
        <col class="g-w-percent8">
        <col class="g-w-percent8">
        <col class="g-w-percent12">
        <col class="g-w-percent20">
    </colgroup>
    <!--头部-->
    <thead>
    <tr>
        <th>序号</th>
        <th>姓名</th>
        <th>手机</th>
        <th>地址</th>
        <th>描述</th>
    </tr>
    </thead>

    <!--表主体-->
    <tbody class="middle-align">
        <tr>
            <td>1</td>
            <td>张三</td>
            <td>138 2468 6204</td>
            <td>银河系太阳系地球村中国帝都朝阳区水岸双桥8888号</td>
            <td>被开除军籍的冷锋（吴京饰演）本是因找寻龙小云（余男饰演）来到非洲，但是却突然被卷入一场非洲国家的叛乱。因为国家之间政治立场的关系，中国军队无法在非洲实行武装行动撤离华侨。而作为退伍老兵的冷锋无法忘记曾经为军人的使命，本来可以安全撤离的他毅然决然地回到了沦陷区，孤身一人带领身陷屠杀中的同胞和难民，展开生死逃亡。随着斗争的持续，体内的狼性逐渐复苏，最终闯入战乱区域，为同胞而战斗</td>
        </tr>
        <tr>
            <td>1</td>
            <td>张三</td>
            <td>138 2468 6204</td>
            <td>银河系太阳系地球村中国帝都朝阳区水岸双桥8888号</td>
            <td>被开除军籍的冷锋（吴京饰演）本是因找寻龙小云（余男饰演）来到非洲，但是却突然被卷入一场非洲国家的叛乱。因为国家之间政治立场的关系，中国军队无法在非洲实行武装行动撤离华侨。而作为退伍老兵的冷锋无法忘记曾经为军人的使命，本来可以安全撤离的他毅然决然地回到了沦陷区，孤身一人带领身陷屠杀中的同胞和难民，展开生死逃亡。随着斗争的持续，体内的狼性逐渐复苏，最终闯入战乱区域，为同胞而战斗</td>
        </tr>
        <tr>
            <td>1</td>
            <td>张三</td>
            <td>138 2468 6204</td>
            <td>银河系太阳系地球村中国帝都朝阳区水岸双桥8888号</td>
            <td>被开除军籍的冷锋（吴京饰演）本是因找寻龙小云（余男饰演）来到非洲，但是却突然被卷入一场非洲国家的叛乱。因为国家之间政治立场的关系，中国军队无法在非洲实行武装行动撤离华侨。而作为退伍老兵的冷锋无法忘记曾经为军人的使命，本来可以安全撤离的他毅然决然地回到了沦陷区，孤身一人带领身陷屠杀中的同胞和难民，展开生死逃亡。随着斗争的持续，体内的狼性逐渐复苏，最终闯入战乱区域，为同胞而战斗</td>
        </tr>
    </tbody>
</table>
<div class="clearfix"></div>