body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1570px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:260px;
  width:1540px;
  height:330px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1540px;
  height:330px;
}
#u1 {
  position:absolute;
  left:2px;
  top:157px;
  width:1536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1420px;
  top:310px;
  width:140px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1350px;
  top:402px;
  width:200px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
