<div class="admin-layout-theme4 g-gap-pl8 g-t-l g-b-gray17">分润设置</div>

<div class="setting-profit-wrap">
    <div class="g-w-percent12 g-f-l g-gap-pr1">
        <div class="setting-profit-item">
            <h3>分润业务</h3>
            <ul class="profit-side setting-profit-list" ng-init="setting_ctrl.queryProfitList()" data-record="setting_ctrl.record.profitid" data-list="setting_ctrl.profitlist" data-action="setting_ctrl.queryProfitConfig()"></ul>
        </div>
    </div>
    <div class="g-w-percent38 g-f-r g-gap-pl1">
        <div class="setting-profit-item">
            <h3>分润配置</h3>
            <form ng-submit="setting_ctrl.formSubmit('profit')" name="profitFrom" role="form" novalidate method="post" class="admin-layout-form">
                <ul class="profit-main">
                    <li>
                        <h5>{{setting_ctrl.profitconfig.base.title}}</h5>
                        <div class="g-w-percent24 form-group-self4">
                            <div class="self-input g-pos-r g-w-percent50">
                                <input type="radio" ng-change="setting_ctrl.changeProfit('base')" ng-model="setting_ctrl.profitconfig.base.type" ng-value="1" name="basetype">&nbsp;:按全额为基数分润
                            </div>
                        </div>
                        <div class="g-w-percent24 form-group-self4">
                            <div class="self-input g-pos-r g-w-percent50">
                                <input type="radio" ng-change="setting_ctrl.changeProfit('base')"  ng-model="setting_ctrl.profitconfig.base.type" ng-value="2" name="basetype">&nbsp;:按全额的&nbsp;<input ng-if="setting_ctrl.profitconfig.base.type===2" name="baseprofit" ng-required class="g-w-number2 ui-single-percent" type="text" ng-model="setting_ctrl.profitconfig.base.profit" maxlength="6">&nbsp;%为基数分
                            </div>
                        </div>
                        <div class="g-w-percent24 form-group-self4">
                            <div class="self-input g-pos-r g-w-percent50">
                                <input type="radio" ng-change="setting_ctrl.changeProfit('base')"  ng-model="setting_ctrl.profitconfig.base.type" ng-value="3" name="basetype">&nbsp;:按每用户&nbsp;<input ng-if="setting_ctrl.profitconfig.base.type===3" name="baseprofit" ng-required class="g-w-number3" type="text" ng-model="setting_ctrl.profitconfig.base.profit" maxlength="13">&nbsp;元进行提成
                            </div>
                        </div>
                        <div class="g-w-percent24 form-group-self4">
                            <div class="self-input g-pos-r g-w-percent50">
                                <input type="radio" ng-change="setting_ctrl.changeProfit('base')"  ng-model="setting_ctrl.profitconfig.base.type" ng-value="4" name="basetype">&nbsp;:按所得的&nbsp;<input ng-if="setting_ctrl.profitconfig.base.type===4" name="baseprofit" ng-required class="g-w-number2" type="text" ng-model="setting_ctrl.profitconfig.base.profit" maxlength="6">&nbsp;%为基数
                            </div>
                        </div>
                        <div class="g-w-percent24 form-group-self4">
                            <div class="self-input g-pos-r g-w-percent50">
                                <input type="radio" ng-change="setting_ctrl.changeProfit('base')"  ng-model="setting_ctrl.profitconfig.base.type" ng-value="5" name="basetype">&nbsp;:按&nbsp;<input ng-if="setting_ctrl.profitconfig.base.type===5" name="baseprofit" ng-required class="g-w-number3" type="text" ng-model="setting_ctrl.profitconfig.base.profit" maxlength="13">&nbsp;元进行
                            </div>
                        </div>
                        <div class="g-w-percent50 form-group-self4">
                            <button type="submit" ng-disabled="!(setting_ctrl.profitconfig.base.type===1 || (setting_ctrl.profitconfig.base.type!==1 && profitFrom.baseprofit.$dirty && profitFrom.baseprofit.$valid))"  class="btn btn-red g-br3 g-f-r">设置</button>
                            <div class="clearfix"></div>
                        </div>
                    </li>
                    <li>
                        <h5>{{setting_ctrl.profitconfig.standard.title}}</h5>
                        <div class="g-w-percent50  form-group-self4">
                            <div class="self-input g-pos-r g-w-percent50">
                                <input type="radio" ng-change="setting_ctrl.changeProfit('standard')"  ng-model="setting_ctrl.profitconfig.standard.type" ng-value="1" name="standardtype">&nbsp;:按百分比分润
                            </div>
                        </div>
                        <div class="g-w-percent50  form-group-self4">
                            <div class="self-input g-pos-r g-w-percent50">
                                <input type="radio" ng-change="setting_ctrl.changeProfit('standard')"  ng-model="setting_ctrl.profitconfig.standard.type" ng-value="2" name="standardtype">&nbsp;:按数值分润
                            </div>
                        </div>

                        <div ng-if="setting_ctrl.profitconfig.standard.type===1" class="g-w-percent50 form-group-self4">
                            <div class="self-input g-pos-r g-w-percent16">
                                运营:&nbsp;<input ng-required name="standardprofit1" class="g-w-number3" type="text" ng-model="setting_ctrl.profitconfig.standard.profit1" maxlength="6">&nbsp;%
                            </div>
                            <div class="self-input g-pos-r g-w-percent16">
                                5S:&nbsp;<input ng-required name="standardprofit2" class="g-w-number3" type="text" ng-model="setting_ctrl.profitconfig.standard.profit2" maxlength="6">&nbsp;%
                            </div>
                            <div class="self-input g-pos-r g-w-percent16">
                                平台:&nbsp;<input ng-required name="standardprofit3" class="g-w-number3" type="text" ng-model="setting_ctrl.profitconfig.standard.profit3" maxlength="6">&nbsp;%
                            </div>
                        </div>

                        <div ng-if="setting_ctrl.profitconfig.standard.type===2" class="g-w-percent50 form-group-self4">
                            <div class="self-input g-pos-r g-w-percent16">
                                运营:&nbsp;<input ng-required name="standardprofit1" class="g-w-number5" type="text" ng-model="setting_ctrl.profitconfig.standard.profit1" maxlength="13">
                            </div>
                            <div class="self-input g-pos-r g-w-percent16">
                                5S:&nbsp;<input ng-required name="standardprofit2" class="g-w-number5" type="text" ng-model="setting_ctrl.profitconfig.standard.profit2" maxlength="13">
                            </div>
                            <div class="self-input g-pos-r g-w-percent16">
                                平台:&nbsp;<input ng-required name="standardprofit3" class="g-w-number5" type="text" ng-model="setting_ctrl.profitconfig.standard.profit3" maxlength="13">
                            </div>
                        </div>
                        <div class="g-w-percent50 form-group-self4">
                            <button type="submit" ng-disabled="!(profitFrom.standardprofit1.$dirty && profitFrom.standardprofit1.$valid && profitFrom.standardprofit2.$dirty &&  profitFrom.standardprofit2.$valid && profitFrom.standardprofit3.$dirty && profitFrom.standardprofit3.$valid)"  class="btn btn-red g-br3 g-f-r">设置</button>
                            <div class="clearfix"></div>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>

