@import '../layout/bootstrap/variables.less';
@import '../layout/variable/base_variable_support.less';


@media screen and (max-width: @screen-sm){
		.credit-chart-wrap{
			height:200px;
			padding:5px;
			&:empty{
				line-height:150px;
			}
		}
}