body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1330px;
  height:120px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1330px;
  height:120px;
}
#u2 {
  position:absolute;
  left:2px;
  top:52px;
  width:1326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:90px;
  width:700px;
  height:30px;
}
#u3_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:706px;
  height:36px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  height:35px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:699px;
  top:90px;
  width:631px;
  height:30px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:627px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:398px;
  top:33px;
  width:443px;
  height:37px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:37px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:0px;
  top:119px;
  width:1330px;
  height:761px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1330px;
  height:761px;
}
#u24 {
  position:absolute;
  left:2px;
  top:372px;
  width:1326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:150px;
  top:175px;
  width:71px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26 {
  position:absolute;
  left:34px;
  top:146px;
  width:53px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:100px;
  top:179px;
  width:40px;
  height:16px;
}
#u29 {
  position:absolute;
  left:16px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u28_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u30 {
  position:absolute;
  left:289px;
  top:175px;
  width:70px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u31 {
  position:absolute;
  left:232px;
  top:179px;
  width:50px;
  height:16px;
}
#u32 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u31_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u33 {
  position:absolute;
  left:429px;
  top:175px;
  width:71px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34 {
  position:absolute;
  left:362px;
  top:179px;
  width:67px;
  height:16px;
}
#u35 {
  position:absolute;
  left:16px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u34_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
