<div class="row-fluid clearfix">
  <div class="col-sm-24 g-gap-mb4">
    <!--主题-->
    <div class="core-cc-theme core-cc-theme1 core-cc-theme-action">主题1<span
      class="btn btn-white core-cc-act-btn core-cc-btn-show"></span></div>
    <div class="core-cc-theme core-cc-theme2 core-cc-theme-action">主题2<span
      class="btn btn-white core-cc-act-btn core-cc-btn-close"></span></div>
    <div class="core-cc-theme core-cc-theme3">主题3</div>
    <div class="core-cc-theme core-cc-theme4">主题4</div>
  </div>

  <!--按钮-->
  <div class="col-sm-24">
    <div class="core-cc-theme core-cc-theme1">普通按钮</div>
    <div class="btn btn-white core-cc-act-btn">常用按钮</div>

    <div class="core-cc-theme core-cc-theme2">表格操作按钮</div>
    <table class="table table-bordered table-striped table-hover core-cc-table">
      <colgroup>
        <col class="g-w-percent5"/>
        <col class="g-w-percent5"/>
        <col class="g-w-percent5"/>
        <col class="g-w-percent5"/>
        <col class="g-w-percent5"/>
        <col class="g-w-percent5"/>
        <col class="g-w-percent5"/>
        <col class="g-w-percent5"/>
        <col class="g-w-percent5"/>
        <col class="g-w-percent5"/>
      </colgroup>
      <tbody>
      <tr>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-edit">编辑</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-add">添加</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-detail">查看</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-delete">删除</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-send">发货</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-receive">收货</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-goods">商品</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-attr">属性</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-dispatch">配送</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-store">店铺</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-finance">财务</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-pay">支付</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-comment">评论</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-logistics">物流</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-cart">购物车</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-setting">设置</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-disabled">禁用</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-enabled">启用</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-up">上架</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-down">下架</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-close">关闭</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-show">显示</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-hide">隐藏</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-type">分类</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-list">列表</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-mimage">中图</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-bimage">大图</div>
        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
      </tr>
      </tbody>
    </table>

    <div class="core-cc-theme core-cc-theme3">常用操作按钮</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-edit">编辑</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-add">添加</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-detail">查看</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-delete">删除</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-send">发货</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-receive">收货</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-goods">商品</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-attr">属性</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-dispatch">配送</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-store">店铺</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-finance">财务</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-pay">支付</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-comment">评论</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-logistics">物流</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-cart">购物车</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-setting">设置</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-disabled">禁用</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-enabled">启用</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-up">上架</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-down">下架</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-close">关闭</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-show">显示</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-hide">隐藏</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-type">分类</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-list">列表</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-mimage">中图</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-bimage">大图</div>


    <div class="core-cc-theme core-cc-theme4">组合列表</div>
    <ul class="core-cc-listgroup core-cc-listgroup1 core-cc-listgroup-gap">
      <li>
        <div class="btn btn-white core-cc-act-btn core-cc-btn-edit">编辑</div>
      </li>
      <li>
        <div class="btn btn-white core-cc-act-btn core-cc-btn-add">添加</div>
      </li>
      <li>
        <div class="btn btn-white core-cc-act-btn core-cc-btn-detail">查看</div>
      </li>
    </ul>
    <ul class="core-cc-listgroup core-cc-listgroup2 core-cc-listgroup-gap">
      <li>
        <div class="btn btn-white core-cc-act-btn core-cc-btn-delete">删除</div>
      </li>
      <li>
        <div class="btn btn-white core-cc-act-btn core-cc-btn-send">发货</div>
      </li>
      <li>
        <div class="btn btn-white core-cc-act-btn core-cc-btn-receive">收货</div>
      </li>
      <li>
        <div class="btn btn-white core-cc-act-btn core-cc-btn-goods">商品</div>
      </li>
    </ul>
    <ul class="core-cc-listgroup core-cc-listgroup3 core-cc-listgroup-gap">
      <li>
        <div class="btn btn-white core-cc-act-btn core-cc-btn-attr">属性</div>
      </li>
      <li>
        <div class="btn btn-white core-cc-act-btn core-cc-btn-dispatch">配送</div>
      </li>
      <li>
        <div class="btn btn-white core-cc-act-btn core-cc-btn-store">店铺</div>
      </li>
    </ul>
    <ul class="core-cc-listgroup core-cc-listgroup4 core-cc-listgroup-gap">
      <li>
        <div class="btn btn-white core-cc-act-btn core-cc-btn-finance">财务</div>
      </li>
      <li>
        <div class="btn btn-white core-cc-act-btn core-cc-btn-pay">支付</div>
      </li>
      <li>
        <div class="btn btn-white core-cc-act-btn core-cc-btn-comment">评论</div>
      </li>
      <li>
        <div class="btn btn-white core-cc-act-btn core-cc-btn-logistics">物流</div>
      </li>
    </ul>
    <ul class="core-cc-listgroup core-cc-listgroup5 core-cc-listgroup-gap">
      <li>
        <div class="btn btn-white core-cc-act-btn core-cc-btn-cart">购物车</div>
      </li>
      <li>
        <div class="btn btn-white core-cc-act-btn core-cc-btn-setting">设置</div>
      </li>
      <li>
        <div class="btn btn-white core-cc-act-btn core-cc-btn-disabled">禁用</div>
      </li>
      <li>
        <div class="btn btn-white core-cc-act-btn core-cc-btn-enabled">启用</div>
      </li>
      <li>
        <div class="btn btn-white core-cc-act-btn core-cc-btn-up">上架</div>
      </li>
    </ul>
    <ul class="core-cc-listgroup core-cc-listgroup6 core-cc-listgroup-gap">
      <li>
        <div class="btn btn-white core-cc-act-btn core-cc-btn-down">下架</div>
      </li>
      <li>
        <div class="btn btn-white core-cc-act-btn core-cc-btn-close">关闭</div>
      </li>
      <li>
        <div class="btn btn-white core-cc-act-btn core-cc-btn-show">显示</div>
      </li>
      <li>
        <div class="btn btn-white core-cc-act-btn core-cc-btn-hide">隐藏</div>
      </li>
      <li>
        <div class="btn btn-white core-cc-act-btn core-cc-btn-type">分类</div>
      </li>
      <li>
        <div class="btn btn-white core-cc-act-btn core-cc-btn-list">列表</div>
      </li>
    </ul>

    <div class="core-cc-theme core-cc-theme1">缩略图</div>
    <table class="table table-bordered table-striped table-hover core-cc-table">
      <colgroup>
        <col class="g-w-percent2"/>
        <col class="g-w-percent10"/>
        <col class="g-w-percent18"/>
        <col class="g-w-percent10"/>
        <col class="g-w-percent5"/>
        <col class="g-w-percent5"/>
      </colgroup>
      <thead>
      <tr>
        <th>序号</th>
        <th>缩略图</th>
        <th>商品名称</th>
        <th>商品分类</th>
        <th>价格</th>
        <th>描述</th>
      </tr>
      </thead>
      <tbody class="g-v-mi">
      <tr>
        <td>
          1
        </td>
        <td>
          <div class="core-cc-thumbnail-pos">
            <img src="assets/images/show/1.jpg">
            <div class="thumbnail-show">
              <div class="thumbnail-showwrap">
                <div class="thumbnail-outer">
                  <div class="thumbnail-inner">
                    <img src="assets/images/show/2.jpg">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td>
          我们的爱
        </td>
        <td>
          飞儿
        </td>
        <td>
          9999.99
        </td>
        <td>
          定位缩略图
        </td>
      </tr>
      <tr>
        <td>
          2
        </td>
        <td>
          <div class="core-cc-thumbnail-pos">
            <img src="assets/images/show/3.jpg">
            <div class="thumbnail-show">
              <div class="thumbnail-showwrap">
                <div class="thumbnail-outer">
                  <div class="thumbnail-inner">
                    <img src="assets/images/show/4.jpg">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td>
          我们的爱
        </td>
        <td>
          飞儿
        </td>
        <td>
          3646546
        </td>
        <td>
          定位缩略图
        </td>
      </tr>
      <tr>
        <td>
          3
        </td>
        <td>
          <div class="core-cc-thumbnail-pos">
            <img src="assets/images/show/5.jpg">
            <div class="thumbnail-show">
              <div class="thumbnail-showwrap">
                <div class="thumbnail-outer">
                  <div class="thumbnail-inner">
                    <img src="assets/images/show/6.jpg">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td>
          我们的爱
        </td>
        <td>
          飞儿
        </td>
        <td>
          8235675
        </td>
        <td>
          定位缩略图
        </td>
      </tr>
      <tr>
        <td>
          4
        </td>
        <td>
          <div class="core-cc-thumbnail-pos">
            <img src="assets/images/show/7.jpg">
            <div class="thumbnail-show">
              <div class="thumbnail-showwrap">
                <div class="thumbnail-outer">
                  <div class="thumbnail-inner">
                    <img src="assets/images/show/8.jpg">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td>
          我们的爱
        </td>
        <td>
          飞儿
        </td>
        <td>
          82664
        </td>
        <td>
          定位缩略图
        </td>
      </tr>
      <tr>
        <td>
          5
        </td>
        <td>
          <div class="core-cc-thumbnail-def">
            <div class="goods-img">
              <img alt="" src="assets/images/show/9.jpg" />
            </div>
            <div class="goods-remark">哈哈，特别好听</div>
            <div class="goods-theme">fir的歌</div>
          </div>
        </td>
        <td>
          ladia
        </td>
        <td>
          fir
        </td>
        <td>
          9245.99
        </td>
        <td>
          一般缩略图
        </td>
      </tr>
      </tbody>
    </table>

    <div class="core-cc-theme core-cc-theme2">订单</div>
    <ul class="core-cc-order core-cc-order-txt" data-id="1">
      <li>
        <div>
          订单1-詹姆斯
        </div>
      </li>
      <li>
        <div>
          订单2-杜兰特
        </div>
      </li>
      <li>
        <div>
          订单3-贾巴尔
        </div>
      </li>
    </ul>
    <ul class="core-cc-order core-cc-order-img">
      <li>
        <div class="order-img">
          <img alt="" src="assets/images/show/1.jpg">
        </div>
      </li>
      <li>
        <div class="order-img">
          <img alt="" src="assets/images/show/2.jpg">
        </div>
      </li>
      <li>
        <div class="order-img">
          <img alt="" src="assets/images/show/3.jpg">
        </div>
      </li>
      <li>
        <div class="order-img">
          <img alt="" src="assets/images/show/4.jpg">
        </div>
      </li>
    </ul>

    <div class="core-cc-theme core-cc-theme3">订单面板</div>
    <div class="row">
      <div class="col-sm-12">
        <ul class="core-cc-gridlabel core-cc-gridlabel1" >
          <li>维斯布鲁克</li>
          <li class="gridlabel-active">杜兰特</li>
          <li class="gridlabel-active">哈登</li>
          <li>保罗</li>
          <li>戴维斯</li>
          <li class="gridlabel-active">詹姆斯</li>
          <li class="gridlabel-active">安特托孔波</li>
          <li>韦德</li>
          <li>欧文</li>
          <li>恩比德</li>
          <li>西蒙斯</li>
          <li>利拉德</li>
          <li class="gridlabel-active">唐斯</li>
          <li>科比</li>
          <li>乔丹</li>
          <li class="gridlabel-active">贾巴尔</li>
          <li class="gridlabel-active">斯托克顿</li>
          <li>马龙</li>
          <li>奥尼尔</li>
          <li class="gridlabel-active">奥拉朱旺</li>
          <li class="gridlabel-active">张伯伦</li>
          <li>拉塞尔</li>
        </ul>
      </div>
      <div class="col-sm-12">
        <ul class="core-cc-gridlabel core-cc-gridlabel2" >
          <li>维斯布鲁克</li>
          <li class="gridlabel-active">杜兰特</li>
          <li class="gridlabel-active">哈登</li>
          <li>保罗</li>
          <li>戴维斯</li>
          <li class="gridlabel-active">詹姆斯</li>
          <li class="gridlabel-active">安特托孔波</li>
          <li>韦德</li>
          <li>欧文</li>
          <li>恩比德</li>
          <li>西蒙斯</li>
          <li>利拉德</li>
          <li class="gridlabel-active">唐斯</li>
          <li>科比</li>
          <li class="gridlabel-active">乔丹</li>
          <li class="gridlabel-active">贾巴尔</li>
          <li class="gridlabel-active">斯托克顿</li>
          <li>马龙</li>
          <li class="gridlabel-active">奥尼尔</li>
          <li class="gridlabel-active">奥拉朱旺</li>
          <li>张伯伦</li>
          <li class="gridlabel-active">拉塞尔</li>
        </ul>
      </div>
    </div>

    <div class="core-cc-theme core-cc-theme1">属性面板</div>
    <div class="core-cc-attrlabel" data-name="nba位置">
      <span>组织后卫</span>
      <span class="attrlabel-active">得分后卫</span>
      <span>大前锋</span>
      <span>小前锋</span>
      <span>中锋</span>
    </div>


  </div>
</div>


