<div class="row-fluid clearfix">

  <div class="col-sm24">
    <!--主题-->
    <div class="core-cc-theme1">主题1</div>
    <div class="core-cc-theme2">主题2</div>
    <div class="core-cc-theme3">主题3</div>
    <div class="core-cc-theme4 core-cc-theme-close">主题4
      <div class="core-cc-mini-icon1"></div>
    </div>
  </div>

  <!--按钮-->
  <div class="col-sm4">
    <div class="btn btn-white core-cc-action-btn">常用按钮</div>
  </div>
  <div class="col-sm8">
    <div class="btn btn-white core-cc-action-btn core-cc-btn-edit">编辑</div>
    <div class="btn btn-white core-cc-action-btn core-cc-btn-add">添加</div>
    <div class="btn btn-white core-cc-action-btn core-cc-btn-detail">查看</div>
    <div class="btn btn-white core-cc-action-btn core-cc-btn-delete">删除</div>
    <div class="btn btn-white core-cc-action-btn core-cc-btn-send">发货</div>
    <div class="btn btn-white core-cc-action-btn core-cc-btn-receive">收货</div>
    <div class="btn btn-white core-cc-action-btn core-cc-btn-goods">商品</div>
    <div class="btn btn-white core-cc-action-btn core-cc-btn-attr">属性</div>
    <div class="btn btn-white core-cc-action-btn core-cc-btn-dispatch">配送</div>
    <div class="btn btn-white core-cc-action-btn core-cc-btn-store">店铺</div>
    <div class="btn btn-white core-cc-action-btn core-cc-btn-finance">财务</div>
    <div class="btn btn-white core-cc-action-btn core-cc-btn-pay">支付</div>
    <div class="btn btn-white core-cc-action-btn core-cc-btn-comment">支付</div>




  </div>
</div>


