<div class="row-fluid clearfix">
  <div class="col-sm24 g-gap-mb4">
    <!--主题-->
    <div class="core-cc-theme core-cc-theme1">主题1</div>
    <div class="core-cc-theme core-cc-theme2 core-cc-theme-action">主题2<span
      class="btn btn-white core-cc-act-btn core-cc-btn-close"></span></div>
    <div class="core-cc-theme core-cc-theme3">主题3</div>
  </div>

  <!--按钮-->
  <div class="col-sm8">
    <div class="btn btn-white core-cc-act-btn">常用按钮</div>
  </div>
  <div class="col-sm16">

    <div class="core-cc-theme core-cc-theme1">表格操作按钮</div>
    <table class="table table-bordered table-striped table-hover core-cc-table">
      <colgroup>
        <col class="g-w-percent5"/>
        <col class="g-w-percent5"/>
        <col class="g-w-percent5"/>
        <col class="g-w-percent5"/>
        <col class="g-w-percent5"/>
        <col class="g-w-percent5"/>
        <col class="g-w-percent5"/>
        <col class="g-w-percent5"/>
        <col class="g-w-percent5"/>
        <col class="g-w-percent5"/>
      </colgroup>
      <tbody>
      <tr>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-edit">编辑</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-add">添加</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-detail">查看</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-delete">删除</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-send">发货</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-receive">收货</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-goods">商品</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-attr">属性</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-dispatch">配送</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-store">店铺</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-finance">财务</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-pay">支付</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-comment">评论</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-logistics">物流</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-cart">购物车</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-setting">设置</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-disabled">禁用</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-enabled">启用</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-up">上架</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-down">下架</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-close">关闭</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-show">显示</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-hide">隐藏</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-type">分类</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-list">列表</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-mimage">中图</div>
        </td>
        <td>
          <div class="btn btn-white core-cc-act-btn core-cc-btn-bimage">大图</div>
        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
      </tr>
      </tbody>
    </table>

    <div class="core-cc-theme core-cc-theme2">常用操作按钮</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-edit">编辑</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-add">添加</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-detail">查看</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-delete">删除</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-send">发货</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-receive">收货</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-goods">商品</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-attr">属性</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-dispatch">配送</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-store">店铺</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-finance">财务</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-pay">支付</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-comment">评论</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-logistics">物流</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-cart">购物车</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-setting">设置</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-disabled">禁用</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-enabled">启用</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-up">上架</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-down">下架</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-close">关闭</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-show">显示</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-hide">隐藏</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-type">分类</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-list">列表</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-mimage">中图</div>
    <div class="btn btn-white core-cc-act-btn core-cc-btn-bimage">大图</div>


    <div class="core-cc-theme core-cc-theme1">缩略图</div>
    <table class="table table-bordered table-striped table-hover core-cc-table">
      <colgroup>
        <col class="g-w-percent2"/>
        <col class="g-w-percent10"/>
        <col class="g-w-percent18"/>
        <col class="g-w-percent10"/>
        <col class="g-w-percent5"/>
        <col class="g-w-percent5"/>
      </colgroup>
      <thead>
      <tr>
        <th>序号</th>
        <th>缩略图</th>
        <th>商品名称</th>
        <th>商品分类</th>
        <th>价格</th>
        <th>描述</th>
      </tr>
      </thead>
      <tbody class="g-v-mi">
      <tr>
        <td>
          1
        </td>
        <td>
          <div class="core-cc-thumbnail-pos">
            <img src="assets/images/show/1.jpg">
            <div class="thumbnail-show">
              <div class="thumbnail-showwrap">
                <div class="thumbnail-outer">
                  <div class="thumbnail-inner">
                    <img src="assets/images/show/2.jpg">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td>
          我们的爱
        </td>
        <td>
          飞儿
        </td>
        <td>
          9999.99
        </td>
        <td>
          定位缩略图
        </td>
      </tr>
      <tr>
        <td>
          2
        </td>
        <td>
          <div class="core-cc-thumbnail-pos">
            <img src="assets/images/show/3.jpg">
            <div class="thumbnail-show">
              <div class="thumbnail-showwrap">
                <div class="thumbnail-outer">
                  <div class="thumbnail-inner">
                    <img src="assets/images/show/4.jpg">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td>
          我们的爱
        </td>
        <td>
          飞儿
        </td>
        <td>
          9999.99
        </td>
        <td>
          定位缩略图
        </td>
      </tr>
      <tr>
        <td>
          3
        </td>
        <td>
          <div class="core-cc-thumbnail-pos">
            <img src="assets/images/show/5.jpg">
            <div class="thumbnail-show">
              <div class="thumbnail-showwrap">
                <div class="thumbnail-outer">
                  <div class="thumbnail-inner">
                    <img src="assets/images/show/6.jpg">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td>
          我们的爱
        </td>
        <td>
          飞儿
        </td>
        <td>
          9999.99
        </td>
        <td>
          定位缩略图
        </td>
      </tr>
      <tr>
        <td>
          4
        </td>
        <td>
          <div class="core-cc-thumbnail-pos">
            <img src="assets/images/show/7.jpg">
            <div class="thumbnail-show">
              <div class="thumbnail-showwrap">
                <div class="thumbnail-outer">
                  <div class="thumbnail-inner">
                    <img src="assets/images/show/8.jpg">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td>
          我们的爱
        </td>
        <td>
          飞儿
        </td>
        <td>
          9999.99
        </td>
        <td>
          定位缩略图
        </td>
      </tr>
      <tr>
        <td>
          5
        </td>
        <td>
          <div class="core-cc-thumbnail-def">
            <div class="goods-img">
              <img alt="" src="assets/images/show/9.jpg" />
            </div>
            <div class="goods-remark">哈哈，特别好听</div>
            <div class="goods-theme">fir的歌</div>
          </div>
        </td>
        <td>
          ladia
        </td>
        <td>
          fir
        </td>
        <td>
          9245.99
        </td>
        <td>
          一般缩略图
        </td>
      </tr>
      </tbody>
    </table>


  </div>
</div>


