


/*表单*/
.admin-layout-form {

  /*表单轮播图*/
  .admin-slide-wrap {
    @itemwidth: 50px;
    background: @color-white;
    .layout-base();
    min-height: 480px;
    min-width: 300px;
    padding: 10px;
    text-align: center;
    .admin-slide-show {
      .layout-relative-base();
      .layout-base(300px);
      overflow: hidden;
      height: 300px;
      margin: 0 auto;
      border: 1px solid @color-gray14;
    }
    .admin-slide-image {
      .layout-absolutel-base(0, 0, 10);
      width: 100%;
      height: 100%;
      display: table;
      > div {
        width: 100%;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        overflow: hidden;
      }
      img {
        display: inline-block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    .admin-slide-btn {
      cursor: pointer;
      position: absolute;
      top: 0;
      z-index: 50;
      width: 49%;
      height: 100%;
      &:before,
      &&:before {
        background: rgba(255, 255, 255, .5);
        .border-radius-base(50%);
        position: absolute;
        font-family: 'ux_eight';
        width: @itemwidth;
        height: @itemwidth;
        line-height: @itemwidth;
        margin-top: -@itemwidth/2;
        font-size: @font-size-base + 8;
        color: @color-gray3;
        top: 50%;
        z-index: 10;
      }
      &:hover {
        &:before,
        &&:before {
          background: rgba(255, 255, 255, .7);
        }
      }
    }
    .admin-slide-btnl {
      left: 0;
      &:before,
      &&:before {
        text-align: right;
        left: -@itemwidth/2;
        padding-right: @itemwidth/8;
        content: '\e625';
      }
    }
    .admin-slide-btnr {
      right: 0;
      &:before,
      &&:before {
        right: -@itemwidth/2;
        padding-left: @itemwidth/8;
        text-align: left;
        content: '\e63f';
      }
    }
    .admin-slide-tool {
      overflow: hidden;
      .layout-base(300px);
      height: 60px;
      margin: 10px auto 0 auto;
      /*&:empty{
          &:before,
          &::before{
              content:'请上传图片';
              display:block;
              width:100%;
              height:100%;
              line-height:300px;
              text-align: center;
              color:@color-red1;
          }
      }*/
      li {
        .layout-relative-base();
        .layout-float-base(50px);
        height: 50px;
        margin: 5px 5px 0 5px;
        overflow: hidden;
        cursor: pointer;
        border: 3px solid @color-white;
        &:hover {
          border: 3px solid @color-gray12;
        }
        img {
          width: 100%;
          height: 100%;
          display: inline-block;
        }
        span {
          .layout-absoluter-base(-20px, -20px);
          line-height: 20px;
          text-align: center;
          cursor: pointer;
          .user-select-base();
          width: 20px;
          height: 20px;
          background: rgba(0, 0, 0, .5);
          color: @color-gray14;
          &:hover {
            background: rgba(0, 0, 0, .8);
          }
          &:before,
          &::before {
            width: 100%;
            height: 100%;
            content: '\e602';
            font-family: 'ux_six';
            font-size: @font-size-base + 2;
          }
        }
        .slide-delete-active {
          top: 0 !important;
          right: 0 !important;
        }
      }
      .admin-slide-active {
        border: 3px solid @color-gray12;
      }
    }
    .admin-slide-upload {
      .layout-base(300px);
      margin: 10px auto 0 auto;
      text-align: center;
      .admin-rpos-wrap {
        input[type="file"] {
          .layout-absolutel-base();
          .layout-base();
          height: 100%;
          .opacity-base(0);
        }
      }
    }
  }

  /*缩略图上传地址*/
  .admin-rpos-wrap {
    .layout-relative-base();
  }


  .img-url-wrap {
    .layout-absoluterb-base(5px, 2px);
    width: 220px;
    height: 30px;
    .img-url-item {
      .box-sizing-base();
      position: absolute;
      top: 0;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    .img-url-select,
    .img-url-upload {
      z-index: 10;
      line-height: 30px;
      font-size: @font-size-base - 2;
      width: 48%;
    }
    .img-url-select {
      left: 0;
    }
    .img-url-upload {
      right: 0;
    }
    .img-url-file {
      .opacity-base(0);
      width: 100%;
      left: 0;
      z-index: 100;
    }
    /*切换编辑状态*/
    .toggle-edit-btn {
      position: absolute;
      left: -40px;
      .layout-base(30px);
      height: 30px;
      text-align: right;
      padding: 0 3px 0 0;
      line-height: 30px;
      color: @color-gray3;
      font-size: @font-size-base + 6;
      .transition-base(all .2s ease-in .03s);
      .user-select-base();
      cursor: pointer;
      &:hover {
        color: @btn-info-bg;
      }
      &:after {
        display: inline-block;
        width: 100%;
        height: 100%;
        font-family: 'ux_four';
        content: '\e6db';
      }
    }
    .toggle-edit-btnactive {
      &:after {
        content: '\e6e6';
      }
    }

  }

  /*图片上传预览*/
  .admin-image-view {
    min-height: 200px;
    .box-sizing-base();
    padding: 20px;
    &:empty:after,
    &:empty::after {
      content: '请上传图片';
      text-align: center;
      display: block;
      width: 100%;
      height: 100%;
      font-size: @font-size-base + 10;
      line-height: 160px;
      color: @color-gray12;
    }
    img {
      width: 160px;
      height: 160px;
    }
  }

  /*上传按钮*/
  .admin-input-file {
    .layout-absolutel-base();
    .layout-base();
    height: 100%;
    .opacity-base(0);
  }

  /*切换密码显示隐藏*/
  .toggle-display-btn {
    position: absolute;
    right: 3px;
    top: 28px;
    .layout-base(30px);
    height: 30px;
    text-align: center;
    padding: 0 3px;
    line-height: 30px;
    color: @color-gray3;
    font-size: @font-size-base;
    .transition-base(all .2s ease-in .03s);
    .user-select-base();
    cursor: pointer;
    &:hover {
      color: @btn-info-bg;
    }
    &:after {
      display: inline-block;
      width: 100%;
      height: 100%;
      font-family: 'ux_one';
      content: '\e6d6';
    }
  }
  .toggle-display-btnactive {
    &:after {
      content: '\e6d7';
    }
  }

  /*发货，返修附件*/
  .admin-sub-items1,
  .admin-sub-items2 {
    .layout-base();
    padding: 20px 10px 30px 20px;
    border: 1px solid #e4e4e4;
    > ul {
      .layout-base();
      li {
        .layout-base();
      }
    }
    .pos-rb-btn {
      .layout-base(60px);
      .layout-absoluterb-base(20px, 15px);
      height: 24px;
      line-height: 22px;
      font-size: @font-size-base - 2;
      padding: 0;
      margin: 0;
    }
  }
  .admin-sub-items1 {
    > ul {
      li {
        margin-top: 8px;
        input, button, select {
          margin-top: 3px;
        }
        select {
          display: inline-block;
        }
      }
    }
  }
  .admin-sub-items2 {
    > ul {
      li {
        .user-select-base();
        border-bottom: 1px solid @color-gray16;
        padding: 8px 20px;
        cursor: pointer;
        label {
          margin: 0 5px;
        }
        .btn {
          padding: 0 10px;
          margin: 0 5px;
        }
        &:hover {
          background: lighten(@color-gray16, 2%);
        }
      }
      .address-active {
        background: lighten(@btn-success-bg, 45%);
        &:hover {
          background: lighten(@btn-success-bg, 45%);
        }
        &:before,
        &::before {
          content: '\e608';
          font-family: 'ux_eight';
          font-size: @font-size-base + 4;
          color: @color-red1;
        }
      }
    }
  }

  /*css3动画*/
  .admin-item-animate1 {
    .transition-base(all 2s ease-in .02s);
  }

  /*地址设置*/
  .selectwrap {
    .select-item {
      ul {
        max-height: 300px;
      }
    }
  }

  /*设置分润*/
  .clear-validate-tip {
    .validate-has-error {
      display: inline-block;
      width: 100%;
      float: right;
    }
  }
  .clear-validate-error {
    input, .form-control {
      border: 1px solid #e4e4e4 !important;
      color: @color-gray5 !important;
      &:focus {
        border: 1px solid rgba(104, 184, 40, .5) !important;
      }
    }
  }

  /*自定义错误位置样式*/
  .validate-has-error .self-error-pos-wrap {
    border-color: #cc3f44 !important;
    color: #cc3f44 !important;
  }
  .self-error-pos-tips .validate-has-error, .self-error-pos-wrap + .validate-has-error,
  .self-error-pos-wrap + .validate-has-error + .validate-has-error,
  .self-error-pos-wrap + .validate-has-error + .validate-has-error + .validate-has-error,
  .self-error-pos-wrap + .validate-has-error + .validate-has-error + .validate-has-error + .validate-has-error {
    color: #cc3f44;
    display: block;
    font-size: 12px;
    padding-top: 5px;
  }

  /*表单特殊状态*/
  .admin-form-readonly {
    background: lighten(@color-gray16, 2%) !important;
    color: @color-gray10 !important;
    &:focus {
      border: 1px solid #e4e4e4 !important;
    }
  }

  .admin-form-disabled {
    background: lighten(@color-gray16, 2%) !important;
    color: @color-gray10 !important;
    &:focus {
      border: 1px solid #e4e4e4 !important;
    }
  }

}

.admin-form-default {
  .box-sizing-base();
  height: 100%;
  min-height: 30px;
  padding: auto 10px;
  line-height: 28px;
  border: 1px solid @color-gray12;
  display: inline-block;
}

/*临时提示*/
.admin-tips-widget {
  .layout-absolutel-base();
  .transition-base(all .5s ease-in .02s);
  .box-sizing-base();
  height: 0;
  .text-of();
  .opacity-base(0);
  font-size: @font-size-base;
  .user-select-base();
  text-align: left;
  background: @color-red1;
  color: @color-white;
  display: inline-block;
  &:empty {
    height: 0;
    font-size: 0;
  }
  &:not(:empty) {
    .opacity-base(100);
  }
}

.admin-tips-widget1 {
  width: 100%;
  &:not(:empty) {
    padding: 10px;
    height: 40px;
    line-height: 20px;
  }
}

.admin-tips-widget2 {
  width: 0;
  &:not(:empty) {
    width: 100%;
    height: 100%;
  }
}



