/*容器*/
.cl-container {
  .layout-base();
  height: 100%;
}

/*404*/
.cl-404-container {
  .layout-fixedl-base();
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vh;
  background:@color-gray10 url('../images');
}
