.cl-login-container {
  .layout-relative-base();
  .layout-base();
  background-color: @color-white;
  background-repeat: repeat;
  background-position: 0 0;
  height: 100%;
  min-height: @ad-login-height;
  min-width: @ad-login-width;
  height: 100vh;
  width: 100vw;
  .cl-login-panel {
    .layout-absolutel-base(50%, 50%);
    .layout-base(@ad-login-width);
    height: @ad-login-height;
    margin-left: -@ad-login-width/2;
    margin-top: -@ad-login-height/2;
    overflow: hidden;
  }
  .cl-login-header {
    .border-radius-base(5px 5px 0 0);
    height: @ad-login-icon-height + 10;
    background: darken(@color-light, 10%);
  }
  .cl-login-logo {
    overflow: hidden;
    height: 100%;
    width: @ad-login-icon-height;
    background: transparent url('../images/logo.png') -7px center no-repeat;
    margin-left: 20px;
  }
  .cl-login-main {
    overflow: hidden;
    border-left: 1px solid @color-gray13;
    border-right: 1px solid @color-gray13;
    border-bottom: 1px solid @color-gray13;
    background: @color-white;
    .layout-base();
    height: @ad-login-height - @ad-login-icon-height - 10;
    padding: 40px 20px 20px 20px;
    .border-radius-base(0 0 5px 5px);
  }
  .ce-validcode-show{
    //margin:0 0 0 5px;
    .box-sizing-base();
    border:1px solid @color-gray9;
    height:32px;
    width:80px;
    max-width:120px;
    max-height:40px;
    cursor: pointer;
  }
}

