body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:210px;
  top:110px;
  width:100px;
  height:60px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:210px;
  top:216px;
  width:100px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:350px;
  top:216px;
  width:100px;
  height:60px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:210px;
  top:408px;
  width:100px;
  height:60px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:350px;
  top:408px;
  width:100px;
  height:60px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:350px;
  top:308px;
  width:100px;
  height:60px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:210px;
  top:577px;
  width:100px;
  height:60px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:350px;
  top:577px;
  width:100px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:350px;
  top:484px;
  width:100px;
  height:60px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:350px;
  top:667px;
  width:100px;
  height:60px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:260px;
  top:170px;
  width:0px;
  height:46px;
}
#u20_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:60px;
}
#u21 {
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:310px;
  top:246px;
  width:40px;
  height:0px;
}
#u22_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:54px;
  height:20px;
}
#u23 {
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:310px;
  top:246px;
  width:40px;
  height:92px;
}
#u24_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:44px;
  height:20px;
}
#u24_seg1 {
  position:absolute;
  left:20px;
  top:-10px;
  width:20px;
  height:112px;
}
#u24_seg2 {
  position:absolute;
  left:20px;
  top:82px;
  width:24px;
  height:20px;
}
#u25 {
  position:absolute;
  left:-20px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:310px;
  top:438px;
  width:40px;
  height:0px;
}
#u26_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:54px;
  height:20px;
}
#u27 {
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:310px;
  top:438px;
  width:40px;
  height:76px;
}
#u28_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:44px;
  height:20px;
}
#u28_seg1 {
  position:absolute;
  left:20px;
  top:-10px;
  width:20px;
  height:96px;
}
#u28_seg2 {
  position:absolute;
  left:20px;
  top:66px;
  width:24px;
  height:20px;
}
#u29 {
  position:absolute;
  left:-20px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:260px;
  top:468px;
  width:0px;
  height:109px;
}
#u30_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:123px;
}
#u31 {
  position:absolute;
  left:-50px;
  top:46px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:310px;
  top:607px;
  width:40px;
  height:0px;
}
#u32_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:54px;
  height:20px;
}
#u33 {
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:350px;
  top:110px;
  width:100px;
  height:60px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u35 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:310px;
  top:140px;
  width:40px;
  height:0px;
}
#u36_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:54px;
  height:20px;
}
#u37 {
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:50px;
  top:24px;
  width:181px;
  height:24px;
  font-size:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:310px;
  top:607px;
  width:40px;
  height:90px;
}
#u40_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:44px;
  height:20px;
}
#u40_seg1 {
  position:absolute;
  left:20px;
  top:-10px;
  width:20px;
  height:110px;
}
#u40_seg2 {
  position:absolute;
  left:20px;
  top:80px;
  width:24px;
  height:20px;
}
#u41 {
  position:absolute;
  left:-20px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:260px;
  top:276px;
  width:0px;
  height:132px;
}
#u42_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:146px;
}
#u43 {
  position:absolute;
  left:-50px;
  top:58px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
