body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1450px;
  height:850px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1450px;
  height:850px;
}
#u1 {
  position:absolute;
  left:2px;
  top:417px;
  width:1446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:327px;
  top:134px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:327px;
  top:238px;
  width:131px;
  height:22px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4_input:disabled {
  color:grayText;
}
#u5 {
  position:absolute;
  left:327px;
  top:207px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:508px;
  top:239px;
  width:130px;
  height:22px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7_input:disabled {
  color:grayText;
}
#u8 {
  position:absolute;
  left:327px;
  top:274px;
  width:73px;
  height:19px;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:408px;
  top:290px;
  width:151px;
  height:110px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:110px;
}
#u11 {
  position:absolute;
  left:2px;
  top:47px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:327px;
  top:468px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:327px;
  top:163px;
  width:200px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15 {
  position:absolute;
  left:406px;
  top:432px;
  width:536px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:457px;
  top:410px;
  width:53px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:408px;
  top:467px;
  width:200px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20 {
  position:absolute;
  left:327px;
  top:540px;
  width:81px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:1450px;
  height:90px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1450px;
  height:90px;
}
#u22 {
  position:absolute;
  left:2px;
  top:37px;
  width:1446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:850px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:850px;
}
#u24 {
  position:absolute;
  left:2px;
  top:417px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:30px;
  top:28px;
  width:105px;
  height:65px;
}
#u25_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  color:#000000;
}
#u27 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u27_img.selected {
}
#u27.selected {
}
#u28 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u30 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u26_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
  color:#000000;
}
#u32 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u33 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
  color:#FF0000;
}
#u35 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u36 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:260px;
  top:23px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
