/*架构*/

/*菜单操作条*/
.admin-action-item{
  .layout-base;
  padding:5px 10px;
  margin:5px 0;
  min-height:40px;
  background:@color-gray17;
  span{
    display:inline-block;
    padding:0 10px;
    vertical-align: middle;
    height:100%;
    line-height:30px;
    cursor: pointer;
    color:@color-gray3;
    font-size:@font-size-base;
    white-space: nowrap;
    &:hover{
      color:@color-blue1;
    }
  }
  .action-item-btn,
  .action-item-search{
    display: inline-block;
    height:100%;
  }
  .action-item-search{
    label{
      .layout-base;
      padding:0 0 0 2em;
      line-height: 30px;
      vertical-align: middle;
      height:100%;
      white-space: nowrap;
      display:inline-block;
      text-indent:-2em;
      color:@color-gray6;
      font-size:@font-size-base;
      font-weight:normal;
      input{
        display: inline-block;
        width:95%;
        margin-left:3px;
        max-width:200px;
        min-width:60px;
      }
    }
  }
  .btn-action{
    margin-right:5px;
  }
}


/*机构列表*/
.admin-list-tsitem{
  .layout-base;
  li{
    .layout-base;
    height:40px;
    line-height:40px;
    .text-of;
    text-overflow: ellipsis;
    color:@color-gray6;
    background:@color-white;
    border-bottom:1px solid @color-gray14;
    span{
      .layout-absoluter-base(5px,5px);
      height:30px;
      width:30px;
      cursor: pointer;
      display:inline-block;
      overflow: hidden;
      border:1px solid @color-white;
      .border-radius-base(3px);
      background:@color-white;
      &:after,
      &::after{
        content:'\e63f';
        font-family:'ux_eight';
        display:block;
        text-align:center;
        line-height:28px;
        font-size:@font-size-base + 8;
      }
      &:hover{
        .transition(all ease-in .1s .02s);
        color:@color-red1 !important;
      }
    }
    ul{
      .layout-base;
      display:none;
    }
    &:hover{
      background:@color-gray17;
      span{
        border:1px solid @color-gray13;
      }
    }
  }
  >li{
    .layout-relative-base;
    padding:0 40px 0 30px;
  }
  .ts-active{
    span{
      &:after,
      &::after{
        content:'\e651';
      }
    }
    ul{
      display:block;
    }
  }
}






























