<div ng-controller="StructroleController as structrole_ctrl">
    <div class="struct-layout-container struct-layout-default">
        <div class="struct-layout-main">
            <!--主内容-->
            <h1 class="admin-layout-theme3">省级运营商&nbsp;&nbsp;&nbsp;&nbsp;<span class="btn btn-default g-c-blue3"><i class="btn-action admin-btn-action7"></i>&nbsp;编辑</span></h1>

            <!--操作条-->
            <div class="admin-action-item">
                <span><i class="btn-action admin-btn-action1"></i>添加用户</span>
                <span><i class="btn-action admin-btn-action8"></i>移除成员</span>
            </div>

            <!--表格-->
            <table id="admin_list_wrap" class="table table-bordered table-striped table-hover admin-layout-table">
                <!--分组样式-->
                <colgroup>
                    <col class="g-w-percent10">
                    <col class="g-w-percent10">
                    <col class="g-w-percent10">
                    <col class="g-w-percent10">
                    <col class="g-w-percent10">
                </colgroup>

                <!--表头-->
                <thead>
                <tr>
                    <th>商品编号</th>
                    <th>商品名称</th>
                    <th>店铺名称</th>
                    <th>分类</th>
                    <th>操作</th>
                </tr>
                </thead>

                <!--表主体-->
                <tbody id="admin_batchlist_wrap" class="middle-align">
                <tr>
                    <td>aksdg</td>
                    <td>0467996</td>
                    <td>937msghfjsk</td>
                    <td>3599679</td>
                    <td><span class="btn-operate">查看</span><span class="btn-operate">订单</span><span class="btn-operate">修改</span></td>
                </tr>
                <tr>
                    <td>aksdg</td>
                    <td>0467996</td>
                    <td>937msghfjsk</td>
                    <td>3599679</td>
                    <td><span class="btn-operate">查看</span><span class="btn-operate">订单</span><span class="btn-operate">修改</span></td>
                </tr>
                <tr>
                    <td>aksdg</td>
                    <td>0467996</td>
                    <td>937msghfjsk</td>
                    <td>3599679</td>
                    <td><span class="btn-operate">查看</span><span class="btn-operate">订单</span><span class="btn-operate">修改</span></td>
                </tr>
                <tr>
                    <td>aksdg</td>
                    <td>0467996</td>
                    <td>937msghfjsk</td>
                    <td>3599679</td>
                    <td><span class="btn-operate">查看</span><span class="btn-operate">订单</span><span class="btn-operate">修改</span></td>
                </tr>
                </tbody>
            </table>


            <!--分页-->
            <div class="admin-page-wrap">
                <div class="easyui-pagination g-w-percent50" id="admin_page_wrap" data-options="links:5,layout:['manual','first','prev','links','next','last'],displayMsg:'显示{from}&nbsp;到&nbsp;{to}&nbsp;共&nbsp;{total}条记录'"></div>
            </div>
        </div>



        <div class="struct-layout-side">
            <!--搜索组件-->
            <div class="sub-search-wrap ui-sub-search" data-active="structrole_ctrl.search.searchactive" data-value="structrole_ctrl.search.name"  data-action="structrole_ctrl.searchAction()" data-clear="structrole_ctrl.searchClear()" ></div>

            <!--选项卡组件-->
            <ul class="sub-tab-wrap sub-item-group2 sub-itembr-group2 ui-sub-tab" data-tabitem="structrole_ctrl.tabitem"></ul>

            <!--按钮组-->
            <ul class="sub-btn-wrap sub-item-group2 ui-sub-btn"  data-btnitem="structrole_ctrl.btnitem" data-ctrlname="structrole_ctrl"></ul>


            <!--子菜单组件-->
            <ul class="sub-menu-wrap" ng-init="structrole_ctrl.initSubMenu()" ng-click="structrole_ctrl.toggleSubMenu($event)" id="admin_struct_submenu" ></ul>


            <!--<li>
                    <a class="sub-menu-title sub-menu-titleactive" data-parentid="" data-id="struct_ctrl.root.id" data-layer="0" data-label="struct_ctrl.root.orgname"  ng-click="struct_ctrl.rootSubMenu($event)">{{struct_ctrl.root.orgname}}</a>
                    <ul ng-init="struct_ctrl.initSubMenu()" ng-click="struct_ctrl.toggleSubMenu($event)" class="g-d-showi ui-sub-menu"></ul>
                </li>-->


            <!--子菜单组件-->
            <!--<ul class="sub-menu-wrap">
                <li>
                    <a class="sub-menu-title sub-menu-titleactive" data-label="" ></a>
                    <ul id="admin_struct_submenu" class="g-d-showi ui-sub-menu"></ul>
                </li>
            </ul>-->
        </div>
    </div>


    <!--新增角色组-->
    <div class="modal fade custom-width" id="admin_rolegroup_dialog">
        <div class="modal-dialog g-w-percent25">
            <div class="modal-content">
                <div class="modal-body">
                    <!--表单-->
                    <div class="g-w-percent50">
                        <div class="admin-layout-theme4 admin-theme-close g-t-c g-b-gray17 g-pos-r">{{structrole_ctrl.rolegroup.id===''?'新增角色组':'编辑角色组'}}
                            <span class="mini-icon admin-mini-icon1" ng-click="structrole_ctrl.toggleModal({display:'hide',area:'rolegroup'})"></span>
                        </div>

                        <form ng-submit="structrole_ctrl.rolegroupSubmit()" name="rolegroupFrom" role="form" novalidate method="post" class="admin-layout-form">
                            <div class="form-group-self1">
                                <label class="self-label g-w-percent10 g-t-r"><span class="self-require g-c-red1">*</span>角色组名称</label>

                                <div class="self-input g-pos-r g-w-percent40">
                                    <input type="text" name="groupName" placeholder="请输入角色组名称" required ng-model="structrole_ctrl.rolegroup.groupName" />
                                    <span  ng-show="rolegroupFrom.groupName.$dirty && rolegroupFrom.groupName.$error.required" class="self-tips self-tips-no g-c-red1 g-fs4 g-w-percent50">角色组名称不能为空</span>
                                    <span ng-show="rolegroupFrom.groupName.$dirty && rolegroupFrom.groupName.$valid" class="self-tips self-tips-yes"></span>
                                </div>
                            </div>

                            <div class="form-group-self1">
                                <button type="submit" ng-show="structrole_ctrl.rolegroup.id===''" ng-disabled="!(structrole_ctrl.rolegroup.id==='' && rolegroupFrom.groupName.$dirty && rolegroupFrom.groupName.$valid)"  class="btn btn-red g-br3 g-w-percent50">新增</button>
                                <button type="submit" ng-show="structrole_ctrl.rolegroup.id!==''" ng-disabled="!(structrole_ctrl.rolegroup.id!=='' && rolegroupFrom.groupName.$valid)"  class="btn btn-red g-br3 g-w-percent50">编辑</button>
                                <button type="button" class="btn btn-red g-br3 g-w-percent50 g-gap-mt2" id="admin_rolegroup_reset" ng-click="structrole_ctrl.rolegroupReset(rolegroupFrom)">重置</button>
                            </div>
                        </form>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>s

</div>