/*头部*/
.struct-layout-header{
  .layout-absolutel-base(0,0,10);
  .layout-base();
  background:none;
  /*平铺背景色*/
  .header-bg{
    .layout-absolutel-base(0,0,-1);
    width:100%;
    .layout-base(100%);
    height:@layout-header-height;
    background:@color-red1;
  }
  /*导航区域*/
  .header-content{
    .layout-relative-base();
    height:@layout-header-height;
    padding:0 50px 0 @layout-side-width + @header-logo-gap;
    .box-sizing-base();
  }
  /*导航logo*/
  .header-logo{
    .layout-absolutel-base();
    width:@layout-side-width + @header-logo-gap;
    height:100%;
    background:url("../images/menu_logo.png") center center no-repeat;
    background-size:auto 38px;
  }
  /*菜单条*/
  .header-menu-wrap{
    .layout-relative-base();
    height:100%;
    .layout-float-base();
    padding:0 60px 0 0;
  }
  .header-menu-item{
    font-size:0;
    >li{
      .box-sizing-base();
      display:inline-block;
      a{
        .box-sizing-base();
        font-size:@font-size-base + 4;
        color:@color-white;
        display:inline-block;
        height:100%;
        line-height:@layout-header-height;
        border-bottom:4px solid @color-red1;
        overflow: hidden;
        .transition(all ease-in .2s .01s);
        &:hover{
          background:darken(@color-red1,5%);
          border-bottom:4px solid darken(@color-red1,5%);
        }
      }
    }
    .menuactive{
      border-bottom:4px solid @color-white;
      line-height:@layout-header-height + 1;
      &:hover{
        border-bottom:4px solid @color-white;
      }
    }
  }
  .header-menu-show{
    height:100%;
    .layout-base();
    display:inline-block;
    >li{
      height:100%;
      a{
        padding:0 30px;
      }
    }
    .menuactive{
      font-size:@font-size-base + 6;
    }
  }
  .header-menu-dropdown{
    .layout-absoluter-base(0,100%);
    .layout-base(160px);
    background:@color-red1;
    height:auto;
    padding:0;
    >li{
      width:100%;
      height:@layout-header-height;
      a{
        width:100%;
        padding:0 20px;
        text-align: center;
        .text-of();
      }
    }
  }
  /*退出按钮*/
  .header-outwrap{
    .layout-absoluter-base(5px,5px,100);
    .layout-base(40px);
    height:@layout-header-height - 10;
    .user-select-base();
  }
  .header-outbtn{
    .layout-base();
    height:100%;
    font-size:@font-size-base - 2;
    line-height:@layout-header-height - 10;
    text-align: center;
    cursor: pointer;
    color:@color-white;
    &:hover{
      background:darken(@color-red1,5%);
    }
  }
}