/*布局变量*/
@hs-container-width: 1200px; /*容器宽度*/

/*菜单变量*/
@hs-header-width: @hs-container-width;
@hs-header-height: 50px; /*菜单高*/
@hs-header-shadow: 16px; /*阴影高*/
@hs-header-logo-width: 450px; /*菜单logo宽*/
@hs-header-logo-height: @hs-header-shadow * 2; /*菜单logo高*/

/*圆形菜单*/
@hs-circle-width: 758px; /*圆形菜单宽*/
@hs-circle-height: 758px; /*圆形菜单高*/
@hs-circle-extend: 100px; /*圆形菜单内圈偏移量*/

@hs-btn-bgcolor: rgba(11, 184, 128, 1); /*菜单按钮颜色*/
@hs-btn-active-bgcolor: rgba(81, 97, 186, 1); /*菜单按钮滑过颜色*/
@hs-btn-width: 96px; /*菜单按钮宽度*/
@hs-btn-active-width: 120px; /*菜单按钮激活宽度*/