/*布局变量*/
@hs-container-width:1200px;


/*菜单变量*/
@hs-header-width:@hs-container-width;
@hs-header-height:100px;
@hs-header-gappt:100px;
@hs-header-menu-height:60px;

/*圆形菜单*/
@hs-circle-width:500px;
@hs-circle-height:500px;