<!--主内容-->
<div class="struct-layout-main">
    <h1 class="admin-layout-theme3 g-clear-pt">管理员管理--新增</h1>
    <!--表格-->
    <table class="table table-bordered table-striped table-hover admin-layout-table">
        <!--表主体-->
        <tbody class="middle-align">
        <tr>
            <td>
                abcd
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--侧边栏-->
<div class="struct-layout-side">
    <!--子菜单-->
    <ul data-view-side-list data-listitem="vm.listitem" class="sub-list-wrap"></ul>
</div>
